@model Mercadorias.Presentation.Models.MercadoriaCreateModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Create";
}

<div class="alert alert-success" id="divSuccess">
    <strong>Sucesso!</strong> <label id="successMsg"></label>
    @*    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>*@
</div>

<div class="alert alert-danger" id="divErro">
    <strong>Erro!</strong>  <label id="errorMsg"></label>
    @*    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>*@
</div>

<h5>Nova Mercadoria</h5>




<form id="Mercadoriaform">
    <div class="row">
        <div class="col-md-12">
            <label>Nome da mercadoria:</label>
            <input id="txtNome" lettersonly name="Nome" type="text" required minlength="3" maxlength="150" class="form-control" />

        </div>

        <div class="col-md-3">
            <label>Número do registro:</label>
            <input id="txtNumeroRegistro" number required minlengtn="14" maxlength="14" name="NumeroRegistro" type="text" class="form-control" />

        </div>
        <div class="col-md-4">
            <label>Fabricante</label>
            <input type="text" lettersonly class="form-control" required id="txtFabricante" name="Fabricante" />
        </div>

        <div class="col-md-4">
            <label>Tipo</label>
            <input type="text" lettersonly class="form-control" required id="txtTipo" name="Tipo" />
        </div>

        <div class="col-md-4">
            <label>Descrição</label>
            <textarea required lettersanddotsonly id="txtDescricao" name="Descricao" rows="4" cols="100" class="form-control"></textarea>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <input id="btnSubmit" type="button" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
<!--Mask-->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<!--Mask-->
<style>
    .my-error-class {
        color: #FF0000; /* red */
    }

    .my-valid-class {
        color: #00CC00; /* green */
    }
</style>

<script>
    jQuery.extend(jQuery.validator.messages, {
        required: "Este campo é requerido.",
        remote: "Por favor, conserte este campo.",
        email: "Por favor, rescreva um formato de email válido.",
        url: "Por favor, escreva uma URL válida.",
        date: "Por favor, entre uma fata válida.",
        dateISO: "Por favor, escreva uma data (ISO) válida.",
        number: "Por favor, somente números.",
        digits: "Por favor, somente dígitos.",
        creditcard: "Por favor, escreva um formato de cartão de crédito válido.",
        equalTo: "Por favor, escreva o mesmo valor.",
        accept: "Por favor, escreva um valor com uma extensão válida.",
        maxlength: jQuery.validator.format("Por favor, não escreva mais do que {0} caracteres."),
        minlength: jQuery.validator.format("Por favor, escreva pelo menos {0} caracteres."),
        rangelength: jQuery.validator.format("Por favor, escreva um valor entre {0} e {1} caracteres."),
        range: jQuery.validator.format("Por favor, escreva um valor entre {0} e {1}."),
        max: jQuery.validator.format("Por favor, escreva um valor menor ou igual a {0}."),
        min: jQuery.validator.format("Por favor, escreva um valor maior ou igual a {0}."),


    });


    $(document).ready(function () {
        $.validator.addMethod('numberssonly', function (value, element) {
            return this.optional(element) || /^[0-9]+$/.test(value);
        }, "Este campo aceita somente números.");
        $.validator.addMethod('lettersanddotsonly', function (value, element) {
            return this.optional(element) || /^[a-zA-Z.\s'éãáíúóÓÉÁÚç]+$/.test(value);
        }, "Este campo aceita somente letras e pontos.");

        $.validator.addMethod('lettersonly', function (value, element) {
            return this.optional(element) || /^[A-Z]+$/.test(value);
        }, "Este campo aceita somente letras.");



        $("form").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules:
            {
                NumeroRegistro:
                {
                    "numberssonly": true
                },
                Nome:
                {
                    "lettersanddotsonly": true
                },
                Fabricante:
                {
                    "lettersanddotsonly": true
                },
                Tipo:
                {
                    "lettersanddotsonly": true
                },
                Descricao:
                {
                    "lettersanddotsonly": true
                }
            },
            messages:
            {
                Nome:
                {
                    "lettersanddotsonly": "Por favor, escreva um nome válido."
                },
                Descricao:
                {
                    "lettersanddotsonly": "Por favor, escreva uma descrição válida."
                }
            }

        });







        $("#divErro").hide();
        $("#divSuccess").hide();
        $("#divWarning").hide();





        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            if ($("form").valid()) {
                var MercadoriaCreateModel = { nome: $("#txtNome").val(), numeroRegistro: $("#txtNumeroRegistro").val(), fabricante: $("#txtFabricante").val(), tipo: $("#txtTipo").val(), descricao: $("#txtDescricao").val() }


                $.ajax({
                    url: "/Mercadoria/AddMercadoria",
                    type: "POST",
                    contentType: "application/json; chatset=utf-8",
                    cache: false,
                    data: JSON.stringify(MercadoriaCreateModel),
                    success: function (response) {
                        $("#divErro").hide();
                        if (response.errorStr != undefined && response.errorStr != null && response.errorStr != '') {
                            $("#errorMsg").html(response.errorStr);
                            alert("response:" + response.errorStr);
                            $("#divErro").show();
                        }
                        else {
                            $("#divSuccess").show();
                            $("#successMsg").html(response);
                            console.log(response)
                            $("#txtNome").val('');
                            $("#txtNumeroRegistro").val('');
                            $("#txtFabricante").val('');
                            $("#txtTipo").val('');
                            $("#txtDescricao").val('');
                        }
                    },
                    error: function (xhr, status, error) {

                        alert(xhr.responseText);
                    }
                });


            }

        });


    });
</script>